<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="aaa">
    <input type="checkbox" v-model="key_word" value="11">111
    <input type="checkbox" v-model="key_word" value="22">222
    <input type="checkbox" v-model="key_word" value="33">333
    <button @click="sort_type=1">升序</button>
    <button @click="sort_type=2">降序</button>
    <button @click="sort_type=0">原顺序</button>
    <ul>
      <li v-for="(p,index) in filter_list" :key="p.id">{{p.name}}--{{p.age}}--{{p.sex}}</li>
    </ul>
    <hr>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="./过滤显示.js"></script>
</body>

</html>